/* Benjawan Promthongnun
ID 6502041520064  */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #536cc3;
  /* font-size: 24px; */
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #536cc3;
  /* font-size: 24px; */
}

#navbar {
  overflow: hidden;
  z-index: 20;
  float: right;
  display: flex;
  color: #f2f2f2;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
}
.logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
}
